<script type="text/javascript">
 hide_show1();

</script>

<br>
<table width="100%" align="center">
	<tr bgcolor="#99CCFF">
		<th> </th>
		<th>Basic Listings Information</th>
		<th>Categories</th>			
		<th>Web Site</th>
		<th>Description</th>
		<th>Photos</th>
		<th>Special Offer</th>
       		<th>Status</th>
	</tr>
	<tr bgcolor="#F0FFFF">
	
		<% if @s[0] %>
		<td><%= "MAP QUEST" %> </td>
		<td><%= @s[0].formatted_address %> </td>
		<td><%= params[:business] %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= "Found" %> </td>
		<% else %>
		<td><%= "MAP QUEST" %> </td>
		<td><%= "" %> </td>
		<td><%= "" %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= "Not Found" %> </td>
		<% end %>

	</tr>

       <tr bgcolor="#CCFFCC">
	
		
		<td><%= "Yelp" %> </td>
		<% if @results=="OK" %>
		<td><%= params[:city] %>, <%= params[:state] %> </td>
		<td><%= params[:business] %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= "Found" %> </td>
		<% else %>
		<td><%= "" %> </td>
		<td><%= "" %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= " " %> </td>
		<td><%= "Not Found" %> </td>
		<% end %>
	</tr>

	

</table>
</div>
