<%= @venues["places"][0].location.city %>
<%= @venues["places"][0].location.distance %>
<%= @venues["places"][0].location.state %>
<%= @venues["places"][0].location.country %>


<table>
<thead><tr>
    <th>Venue Name</th>
    <th>Location</th>
    <th> Primary Category</th>
    <th>Categories</th>
    <th>Checkins Count</th>
    <th>Photos</th>
    <th>Categories</th> 
	
  </tr></thead>
  <tbody>
  <tr>
     <td><%= @venue.name%></td>
    <td><%= @venue.location.address%></td>
<td><% if @venue.primary_category%>
    
      <td> Primary Category</td>
      <td><%= @venue.primary_category.name%>
<% end %></td>
    <td>
       <% @venue.categories.each do |category| %>
        <ul>
          <li>
            <%= image_tag category["icon"]%>
            <%= category["name"]%></td></tr></li> </ul>
<% end %></td>
	<td><%=@venue.stats["checkinsCount"]%></td>
<td> Photos</td>
    <td>
      <p
        <%= @venue.photos_count%>
        photos
        <% unless @venue.photos.blank? %>
          <br />
          All photos may not be present here, use "all_photos" method to get more photos
          <br />
          Note that various size are available for each photo (original, 300x300, 100x100, 36x36)
	<% end %>
       <% @venue.photos.each do |photo| %>
        <%= link_to image_tag(photo.square_100_url), photo.url%>
<% end %></td>
    <td><%= link_to "See documentation", "https://developer.foursquare.com/docs/explore.html#req=venues/#{@venue_id}"
</tr>
</tbody>
</table>



