<%= form_for @paperclipin, :url => paperclipins_path, :html => { :multipart => true } do |f| %>

  <% if @paperclipin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paperclipin.errors.count, "error") %> prohibited this paperclipin from being saved:</h2>

      <ul>
      <% @paperclipin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upload_file %><br />
    <%= f.file_field :upload_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
