
<%= form_for @search_list,:url =>{:controller =>"search_lists",:action => 'update_search_list',:id =>@search_list.id}, :html => {:method => 'post'} do |form| %>
 <p class="legend"><strong>Note:</strong> Required fields are marked with an asterisk (<em>*</em>)</p>
<fieldset>
<legend>Fix All</legend>


<div>
 <table align="center">
  <tr>
      <td><label for="business_name">Bisiness Name<em>*</em></label></td>
      <td><%= form.text_field :business_name %></td>
      <td><label for="city">City<em>*</em></label></td>
      <td><%= form.text_field :city%></td>
      <td><label for="state">State<em>*</em></label></td>
      <td><%= form.text_field :state%></td>
  </tr>
  <tr>
      <td><label for="country">Country <em>*</em></label></td>
      <td><%= form.text_field :country%></td>
      <td><label for="ph_no">Phone Number</label></td>
      <td><%= form.text_field :ph_no %></td>
      <td><label for="pin_code">Pincode</label></td>
      <td><%= form.text_field :pin_code %></td>
      <td><%= hidden_field_tag :directories,"" %></td>
  </tr>
</table>
 <div class="buttonrow">
    <%= form.submit "SUBMIT" ,:class=>'button'%>
  </div>
  </fieldset>
<% end %>
