<script type="text/javascript">
$(document).ready(function(){

    $("#clicking").click(function () {
        var t= new_user_validations("business_search");
        if(t){

        }
        else{
            return false;
        }
        hide_show();

          $.ajax({
            url: '/users_business_locations/search_business_details',
            type: "POST",

            data: { 'business': $("#business").val(), 'city' : $("#city").val(), 'business_location' :$("#business_location").val(), 'country' : $("#country").val(), 'pincode' : $("#pincode").val() , 'ph_no' : $("#ph_no").val(), 'user_id' : '<%= @user.id %>', 'business_ids' : $("#business_ids").val()  },

            dataType: "html",
            success: function (data) {
	$("#searched_business_data").html(data)

            },
            error: function () {
                alert("error");
            }
        });

   });


$("#country").change(function(){

$.ajax({
            url: '/users_business_locations/select_states',
            type: "POST",
            data: { 'country' : $("#country").val() },
            dataType: "html",
            success: function (data) {

 
states=data.split("option value=").length
document.getElementById('business_location').length=0
var opt = document.createElement("option");
document.getElementById("business_location").options.add(opt);
opt.text = "Please Select"
opt.value = ""
for(i=1;i<parseInt(data.split("option value=").length);i++)
{
var opt = document.createElement("option")
document.getElementById("business_location").options.add(opt)
state=data.split("<option value=")[i]
opt.text = state.split('"')[1]
opt.value = state.split('"')[1]
}
            },
            error: function () {
                alert("error");
            }
        });
});

jQuery('input[onlyNumeric]').keyup(function(){ 
    var decimal=jQuery(this).attr('onlyNumeric'); var msg="Only Integer Values allowed."; 
    var val=jQuery(this).val(); var old_val=val; val=val.replace(/[0-9]*/g, ""); if (decimal=='d')
    {val=val.replace(/\./, ""); msg="Only Numeric Values allowed.";}
    if (val!=''){ old_val=old_val.replace(/([^0-9].*)/g, "")
    jQuery(this).val(old_val); //alert(msg);
    }
});

})


function hide_show()
{
$('#clicking').hide();
$('#creating_events').show();
}

function hide_show1()
{
$('#clicking').show();
$('#creating_events').hide();
}
function store_valuess(id,business_name,city,state,country,ph_no,pincode)
{
$("#business_ids").val(id)
$("#business").val(business_name)
$("#city").val(city)
 $("#ph_no").val(ph_no)
$("#pincode").val(pincode)
document.getElementById('business_location').length=0
var opt = document.createElement("option");
document.getElementById("business_location").options.add(opt);
opt.text = state
opt.value = state
$("#country").val(country)


}
</script>

<style type="text/css">
   .preview{
	color:#08233e;
	background-color: #E3E1B8; 
	font:1.0em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-weight:bold;
	padding:9px;
	border-radius:12px 12px 12px 12px;
}
.status_bg {
    background: url("/images/yelp_buttons/status_bg.png") no-repeat scroll center bottom transparent;
    color: #559D00;
    float: left;
    padding: 6px 0 8px 35px;
    text-align: left;
    width: 58px;
}
.tr_background { 
 bgcolor: #99CCFF;
}
.preview:hover{background-color:rgb(255,222,173);}
.preview:active{position:relative;top:2px;}

.color1{
background-color:#CCFFCC;
}
.color2{
background-color:#F0FFFF;
}

.error_explanation_search {
  width: 450px;
  padding: 12px 133px  0 ;
  padding-bottom: 0;
  margin-top: 10px;
  color: red;
  /*margin-bottom: 20px;*/
 /* background-color: red;*/
 
</style>

</style>

<div>
    <table width="100%">
    <tr style="color:#9C4A6A;background-color:#B5B7BA;">
        <th>Business Name</th>
        <th>Address</th>
    </tr>
    <% if !@last_3.blank? %>
<% @last_3.each do |last_3| %>
     <tr align="center" onclick='store_valuess("<%= last_3.id %>","<%= last_3.business_name %>","<%= last_3.city %>","<%= last_3.state %>","<%= last_3.country %>","<%= last_3.ph_no %>","<%= last_3.pincode %>")'>
        <td><%= last_3.business_name %></td>
        <td><%= last_3.city %></td>
    </tr>   
<% end %>
<% end %>
</table>
</div>

<div style="background:#ADD8E6">

<fieldset>
<a href="#" class="modify" style="float:right;">Modify</a>
<legend><b>Scanning Details</b></legend>
	<div class="slidingDiv">
	<table width="100%">
<%= hidden_field_tag :business_ids, "", :id=>"business_ids" %>
	<tr>
		<td>Business Name</td>
		<td><%= text_field_tag :business, "", :id=>"business" %></td>
         <span class="error_explanation_search" id="business_search" style="display:none;">Business Name  cant be blank</span>
		<td>City</td>
		<td><%= text_field_tag :city, "", :id=>"city" %></td>
        <span class="error_explanation_search" id="city_search" style="display:none;">City Name  cant be blank</span>

	  <td>Country</td>
		<td><%=  select_tag 'country', options_for_select(get_countries),html_options = {:onChange =>"select_states()"} %></td>	
	</tr>

  <tr>	
  	<td>State</td>
		<td><%= select_tag (:business_location, :state) %></td>
		<td>Ph.No</td>

		<td><%= text_field_tag :ph_no, "", :id=>"ph_no", :onlynumeric=>"i", :maxlength=>"10" %></td>
		<td>Pincode</td>
		<td><%= text_field_tag :pincode, "", :id=>"pincode", :onlynumeric=>"i" %></td>

		<td class="show_hide"><%= submit_tag 'Scan',:class => "preview", :id=>"clicking" %>
			<span id="creating_events" style ="display:none;">Scaning, Please wait...</span></td>


	</tr>
  </table>
</div>

 </fieldset>
</div>


<div id="searched_business_data">

</div>
<script type="text/javascript">
 
$(document).ready(function(){
 
       
        $(".show_hide").show();
	$(".modify").hide();

    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    $(".modify").show();	
    });

    $('.modify').click(function(){
    $(".slidingDiv").slideToggle();
    $(".modify").hide();

    });	
 
});
 
</script>

