<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
<script type="text/javascript">
$(document).ready(function(){
<% if(@business_user_id) %>
      window.open("/users_business_locations/previous_information_details?user_id=<%= @name %>&logintime=<%= @login_time %>",'dependent, width=900, height=480, left=100, top=100', target='_blank');
<% end %>
    $("#clicking").click(function () {
hide_show();
          $.ajax({
            url: '/users_business_locations/search_business_details',
            type: "POST",
            data: { 'business': $("#business").val(), 'city' : $("#city").val(), 'state' :$("#state").val(), 'country' : $("#country").val(), 'pincode' : $("#pincode").val() , 'ph_no' : $("#ph_no").val()  },
            dataType: "html",
            success: function (data) {
	$("#searched_business_data").html(data)

            },
            error: function () {
                alert("error");
            }
        });

   });


$("#country").change(function(){

$.ajax({
            url: '/users_business_locations/select_states',
            type: "POST",
            data: { 'country' : $("#country").val() },
            dataType: "html",
            success: function (data) {
alert(data)
states=data.split("option value=").length
alert(data.split("option value=")[1])

alert(states)

document.getElementById('business_location').length=0
var opt = document.createElement("option");
document.getElementById("business_location").options.add(opt);
opt.text = "Please Select"
opt.value = ""
for(i=1;i<parseInt(data.split("option value=").length);i++)
{

var opt = document.createElement("option")
document.getElementById("business_location").options.add(opt)
state=data.split("&lt;option value=&quot;")[i]
opt.text = state.split("&quot;&gt;")[0]
opt.value = state.split("&quot;&gt;")[0]
}
            },
            error: function () {
                alert("error");
            }
        });
});
})


function hide_show()
{
$('#clicking').hide();
$('#creating_events').show();
}

function hide_show1()
{
$('#clicking').show();
$('#creating_events').hide();
}
</script>

<style type="text/css">
   .preview{
	color:#08233e;
	background-color: #E3E1B8; 
	font:1.0em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-weight:bold;
	padding:9px;
	border-radius:12px 12px 12px 12px;
		
}
.preview:hover{background-color:rgb(255,222,173);}
.preview:active{position:relative;top:2px;}

</style>

<div style="background:#ADD8E6">
<fieldset>
				<a href="#" class="modify" style="float:right;">Modify</a>
<legend><b>Scanning Details</b></legend>
	<div class="slidingDiv">
	<table width="100%">

	<tr>
		<td>Business Name</td>
		<td><%= text_field_tag :business, "", :id=>"business", :required => true %></td>
		<td>City</td>
		<td><%= text_field_tag :city, "", :id=>"city" %></td>
	    <td>Country</td>
		<td><%=  select_tag 'country', options_for_select(get_countries),html_options = {:onChange =>"select_states()"} %></td>	
	</tr>

     <tr>	
   		<td>State</td>
		<td><%= select_tag (:business_location, :state) %></td>
		<td>Ph.No</td>
		<td><%= text_field_tag :ph_no, "", :id=>"ph_no" %></td>
		<td>Pincode</td>
		<td><%= text_field_tag :pincode, "", :id=>"pincode" %></td>
		<td class="show_hide"><%= submit_tag 'Scan',:class => "preview", :id=>"clicking" %>
			<span id="creating_events" style ="display:none;">Scaning, Please wait...</span></td>

	</tr>
  </table>
</div>

 </fieldset>
</div>


<div id="searched_business_data">

</div>
<script type="text/javascript">
 
$(document).ready(function(){
 
       
        $(".show_hide").show();
	$(".modify").hide();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    $(".modify").show();	
    });

    $('.modify').click(function(){
    $(".slidingDiv").slideToggle();
    $(".modify").hide();

    });	
 
});
 
</script>

