<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

<script type="text/javascript">
$(document).ready(function(){

<% if(@business_user_id) %>
window.open("/users_business_locations/previous_information_details?user_id=<%= @name %>&logintime=<%= @login_time %>",'dependent, width=900, height=480, left=100, top=100', target='_blank');
<% end %>
    $("#clicking").click(function () {
hide_show();
          $.ajax({
            url: '/users_business_locations/search_business_details',
            type: "POST",
            data: { 'business': $("#business").val(), 'city' : $("#city").val(), 'state' :$("#state").val(), 'country' : $("#country").val(), 'pincode' : $("#pincode").val() , 'ph_no' : $("#ph_no").val()  },
            dataType: "html",
            success: function (data) {
	$("#searched_business_data").html(data)

            },
            error: function () {
                alert("error");
            }
        });

   });


$("#country").change(function(){

$.ajax({
            url: '/account/select_states',
            type: "POST",
            data: { 'country' : $("#country").val() },
            dataType: "html",
            success: function (data) {
	
states1=data.split("&lt;option value=&quot;")[0]
states=data.split("&lt;option value=&quot;").length
//state=data.split("&lt;option value=&quot;")[1]
//state1=data.split("&lt;option value=&quot;")[2]
//state_only=state.split("&quot;&gt;")
//state_only1=state1.split("&quot;&gt;")
//alert(state_only[0])
//alert(state_only1[0])
document.getElementById('business_location').length=0
var opt = document.createElement("option");
document.getElementById("business_location").options.add(opt);
opt.text = "Please Select"
opt.value = ""
for(i=1;i<parseInt(states);i++)
{
var opt = document.createElement("option")
document.getElementById("business_location").options.add(opt)
state=data.split("&lt;option value=&quot;")[i]
opt.text = state.split("&quot;&gt;")[0]
opt.value = state.split("&quot;&gt;")[0]
}
            },
            error: function () {
                alert("error");
            }
        });
});


})


function hide_show()
{
$('#clicking').hide();
$('#creating_events').show();
}

function hide_show1()
{
$('#clicking').show();
$('#creating_events').hide();
}
</script>

<style type="text/css">
   .preview{
	color:#08233e;
	background-color: #E3E1B8; 
	font:1.0em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
	font-weight:bold;
	padding:9px;
	border-radius:12px 12px 12px 12px;
		
}
.preview:hover{background-color:rgb(255,222,173);}
.preview:active{position:relative;top:2px;}

</style>

<div style="background:#ADD8E6">
<fieldset>
<legend><b>Scanning Details</b></legend>
	<table width="100%">

	<tr>
		<td>Business Name</td>
		<td><%= text_field_tag :business, "", :id=>"business", :required => true %></td>
		<td>City</td>
		<td><%= text_field_tag :city, "", :id=>"city" %></td>
	    <td>Country</td>
		<td><%=  select_tag 'country', options_for_select(get_countries),html_options = {:onChange =>"select_states()"} %></td>	
	</tr>

     <tr>	
   		<td>State</td>
		<td><%= select_tag (:business_location, :state) %></td>
		<td>Ph.No</td>
		<td><%= text_field_tag :ph_no, "", :id=>"ph_no" %></td>
		<td>Pincode</td>
		<td><%= text_field_tag :pincode, "", :id=>"pincode" %></td>
		<td><%= submit_tag 'Scan',:class => "preview", :id=>"clicking" %>
			<span id="creating_events" style ="display:none;">Scaning, Please wait...</span></td>
	</tr>
  </table>

 </fieldset>
</div>


<div id="searched_business_data">

</div>

