
<div id="body_main_blk">
 <%= form_tag(signin_path) do %>
<%= back_url_hidden_field_tag %>
	<div id="body_main">
		<h1 class="cntr">Sign In to Wavespot</h1>
        <div id="body_cont_blk" class="sign_in_blk"> 
            <div class="login_row">
                <span class="label sign_lbl">Email / Username</span>
                <span class="inp"><%= text_field_tag 'mail', params[:usermail],:placeholder=>"Enter email", :class=>"txtbox" %></span>
                <div class="clr"></div>
            </div>
            <div class="login_row">
                <span class="label sign_lbl">Password</span>
                <span class="inp"><%= password_field_tag 'password', nil,:placeholder=>"Enter password",:class=>"txtbox" %></span>
                <div class="clr"></div>
            </div>
            <div class="login_row">
                <span class="label sign_lbl">&nbsp;</span>
                <span class="btn"><input type="submit" name="login" value="<%=l(:button_login)%> &#187;" class="btn_bg"/></span>
                <div class="clr"></div>
            </div>
            <div class="line"></div>
            <div class="login_row">
                <span class="label">&nbsp;</span>
                <span class="btn"><%= link_to "Forgot Password", lost_password_path %></span>
                <div class="clr"></div>
            </div>
            
        </div>
    </div>
<% end%>
</div>



