

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
      
</head>
<h2><%=l(:label_register)%> <%=link_to l(:label_login_with_open_id_option), signin_url if Setting.openid? %></h2>

<%= labelled_form_for @user, :url => register_path do |f| %>
<%= error_messages_for 'user' %>

<div class="container">

      <div class="row">


        <div class="span8">
          <div class="alert alert-success">
            Well done! You successfully read this important alert message. </div>

          <form class="form-horizontal" id="registerHere">
    		 <legend>Registration</legend>

<% if @user.auth_source_id.nil? %>
  <p><%= f.text_field :mail, :size => 25, :required => true %></p>

  <p><%= f.password_field :password, :size => 25, :required => true, :onkeyup=>"select_password(id)" %>
  <em class="info"><%= l(:text_caracters_minimum, :count => Setting.password_min_length) %></em></p>

  <p style="display:none;"><%= f.password_field :password_confirmation, :size => 25, :required => true %></p>
<% end %>

<p><%= f.text_field :firstname, :required => true %></p>
		<p><%= f.text_field :address1  %></p>
		<p><%= f.text_field :address2, :required => true %></p>
		<p><%= f.text_field :city, :required => true %></p>
		<p><%= f.text_field :state, :required => true %></p>
		<p><%= f.text_field :country, :required => true %></p>
		<p><%= f.text_field :zip_code, :required => true %></p>
		<p><%= f.text_field :phone, :required => true %></p>
<p style="display:none;"><%= f.text_field :lastname, :required => true %></p>
<p  style="display:none;"><%= f.text_field :mail, :required => true %></p>
<p  style="display:none;"><%= f.select :language, lang_options_for_select %></p>

<% if Setting.openid? %>
  <p><%= f.text_field :identity_url  %></p>
<% end %>

<% @user.custom_field_values.select {|v| v.editable? || v.required?}.each do |value| %>
  <p><%= custom_field_tag_with_label :user, value %></p>
<% end %>
 </form>
        </div>

      </div>


<%= submit_tag l(:button_submit) %>
<% end %>

<script type="application/javascript">
function select_password(id)
{

document.getElementById("user_password_confirmation").value=document.getElementById(id).value
}
</script>
